<div class='container'>
    <div class='col-lg-8 col-lg-offset-2'>
        <div class='well'>
            <form class='form-horizontal' method="post" action="/register">
                <fieldset>
                    <legend>New Account</legend>
                </fieldset>
                <div class='form-group'>
                    <label for="inputFirstName" class="col-lg-2 control-label">First Name*</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputFirstName" name="firstname" placeholder="First Name">
                    </div>
                </div>
                <div class='form-group'>
                    <label for="inputLastName" class="col-lg-2 control-label">Last Name*</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputLastName" name="lastname" placeholder="Last Name">
                    </div>
                </div>
                <div class='form-group'>
                    <label for="inputEmail" class="col-lg-2 control-label">Email*</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputEmail" name="email" placeholder="Email">
                    </div>
                </div>
                <div class='form-group'>
                    <label for="inputUsername" class="col-lg-2 control-label">Username*</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
                    </div>
                </div>
                <div class='form-group'>
                    <label for="inputPassword" class="col-lg-2 control-label">Password*</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                        <span class="help-block">Password specifications. Keep your account safe!</span>
                    </div>
                </div>
                <div class='form-group'>
                    <label for="inputPasswordConfirm" class="col-lg-2 control-label">Confirm Password*</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Confirm Password">
                    </div>
                </div>
                <div class='form-group'>
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>